@model Imagination.Application.DTOs.PaginatedListDto<Imagination.Application.DTOs.PostDto>

<nav>
    <ul class="pagination custom-pagination">
        <li class="page-item @(Model.PageIndex == 1 ? "disabled":"")">
            <a class="page-link" asp-route-pageIndex="1">
                <span>⏮ First</span>
            </a>
        </li>
        <li class="page-item @(Model.HasPreviousPage ? "":"disabled")">
            <a class="page-link" asp-route-pageIndex="@(Model.PageIndex - 1)">
                <span>◀ Previous</span>
            </a>
        </li>

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.PageIndex == i ? "active":"")">
                <a class="page-link" asp-route-pageIndex="@i">@i</a>
            </li>
        }

        <li class="page-item @(Model.HasNextPage ? "":"disabled")">
            <a class="page-link" asp-route-pageIndex="@(Model.PageIndex + 1)">
                <span>Next ▶</span>
            </a>
        </li>
        <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled":"")">
            <a class="page-link" asp-route-pageIndex="@(Model.TotalPages)">
                <span>Last ⏭</span>
            </a>
        </li>
    </ul>
</nav>

<!-- Story Box -->
@foreach (var post in Model.Items)
{
    <div class="border border-light p-2 mb-3" style="box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); background:#f8f9fa;">
        <div class="d-flex align-items-start">
            @if (!string.IsNullOrEmpty(post.Author.PhotoUrl))
            {
                <img class="me-2 avatar-photo rounded-circle" id="profileImage" src="@Url.Content(post.Author.PhotoUrl)" />
            }
            else
            {
                <img class="me-2 avatar-photo rounded-circle" id="profileImage" src="~/assets/img/profile/avatar.jpg">
            }
            <div class="w-100">
                <input type="hidden" name="PostId" value="@post.PostId">
                <input type="hidden" name="UserId" value="@currentUserService.UserId">
                <h5 class="">@post.Author.Username <small class="text-muted">@post.DateOfCreation.ToString("M/d/yyy")</small></h5>
                <a asp-controller="Post" asp-action="Details" asp-route-postId="@post.PostId"><p>@post.Title</p></a>
                @{
                    string content = @post.Content;
                    int n = 140;

                    content = System.Text.RegularExpressions.Regex.Replace(content, "<p[^>]*>|</p>", " ");

                    string subText = content.Length > n ? content.Substring(0, n) : content;

                    int lastSpaceIndex = subText.LastIndexOf(' ');

                    if (lastSpaceIndex > 0)
                    {
                        subText = subText.Substring(0, lastSpaceIndex);
                    }

                    <div>@Html.Raw(subText)</div>
                }

                <br>
            </div>
        </div>
        <div class="mt-2">
            <button onclick="toggleLike(this)" class="btn btn-sm btn-link @(post.IsLikedByCurrentUser ? "text-danger" : "text-muted") like-btn"
                data-post-id="@post.PostId"
                data-is-liked="@post.IsLikedByCurrentUser.ToString().ToLower()">
            <i class="mdi mdi-heart"></i> Like (<span id="like-count-@post.PostId">@post.NrLikes</span>)
            </button>
            <div class="btn btn-sm btn-link text-muted" ><i class="mdi mdi-comment"></i> Comments (<span id="comment-count-@post.PostId">@post.NrComments</span>)</div>
        </div>

        @await Html.PartialAsync("_CreateCommentPartial", new Imagination.Application.DTOs.CreateCommentDto { PostId = post.PostId })

    </div>
}
